A:link {text-decoration: none; color: black;}
A:visited {text-decoration: none; color: black;}
A:active {text-decoration: none;}
A:hover {text-decoration: none; color: black;}

body,html 
{
  background-color: #B8704D;
  margin-top: 0;
}

#fixed_top 
{
  margin-top: 0;
	width: 100%;
	position: fixed;
  z-index: 9999;  
  background-color: #B8704D;
  height: 450px;
}

#header 
{
	width: 100%;
	text-align: center;
}

#header_img 
{
	height: 100px;
}


#refresh_stream
{
  margin: auto;
  font-size:32px;
  font-family:'Georgia', Times New Roman, Times, serif;
  font-weight:bold;
  color:#ccc;
  text-align: center;
  height: 150px;
}

#controls
{
  text-align: center;
  padding-top: 15px; 
  padding-bottom: 40px; 
  z-index: 9999;  
}

#controls input
{
  font-size:48px;
  padding: 40px 80px 40px 80px;
  margin-left: 10px;  
  margin-right: 10px;
}

#stations 
{
  position: absolute;
  width: 100%;
  top: 450px;
}

.station
{
  border: 1px solid #B8704D;
  border-collapse: collapse;
  background-color: #A3E0FF;
  font-size:48px;
  padding: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

#footer 
{
  width: 100%;
  height: 20px;
  position: absolute;
}