A:link {text-decoration: none; color: blue;}
A:visited {text-decoration: none; color: blue;}
A:active {text-decoration: none;}
A:hover {text-decoration: underline; color: red;}

body,html {
	background-color: #FFFFFF;
	background-color: #440000;
	height: 100%;
}


.main_panel {
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	text-align: center;
	background-color: #FFFFFF;
}

.header {
	margin: auto;
	border-style: none;
	width: 800px;
	height: 100px;
	text-align: center;
	position: relative;
}
.header_img {
	margin: 3%;
	width: 100%;
	height: 100%;
}


.stream_list_table {
	width: 800px;
	border: 1px solid;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

.stream_list_row {
	border: 1px solid;	
}

.stream_list_row:hover { 
	background-color: #D2F2FC;
}

.stream_list_row_header {
	background-color: #FFF0F0;
}

.stream_list_cell {
	border: 1px solid;
	font-size: 12px;
}

th {
	border: 1px solid;
}

#refresh_stream
{
  margin: auto;
  width: 100%;
  background-color:#440000;
  font-size:16px;
  font-family:'Georgia', Times New Roman, Times, serif;
  font-weight:bold;
  color:#fff;
}
